<style>
    h1{
        background-color:white;
    }
    #major{
        
    }
    #zero{
        background-color: blue;
        color: beige;
        padding: 2px;
    }
    #first{
        
        background-color: aquamarine;
       
    }
    #second{
       
        background-color: bisque;
        width: 230px;
        margin: 50px;
        padding: 25px;  
    }
    #third{
       
        background-color: dimgrey;
       
        margin: 50px;
        padding: 25px;
     
       
    }
</style>
</style>